In [1]:
import pandas as pd
import requests
from citipy import citipy
from config import weather_api_key
import gmaps
from config import g_key
from datetime import datetime
import numpy as np

In [2]:
gmaps.configure(api_key=g_key)

In [3]:
#import weather data from part 1 as new data frame
weather_data_to_load= ("weather_data/WeatherPy_challenge.csv")
weather_data_df= pd.read_csv(weather_data_to_load)
weather_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Snow,Rain,Country,Current Description,Date
0,0,Henties Bay,-22.12,14.28,60.01,89,0,3.00,0.0,0.0,NaN,clear sky,2019-11-09 18:27:19
1,1,Bethel,60.79,-161.76,26.60,92,1,11.41,0.0,0.0,US,clear sky,2019-11-09 18:27:20
2,2,Saint-Francois,46.42,3.91,39.20,93,90,3.36,0.0,0.0,FR,overcast clouds,2019-11-09 18:27:20
3,3,Ushuaia,-54.81,-68.31,44.60,52,40,9.17,0.0,0.0,AR,scattered clouds,2019-11-09 18:26:33
4,4,Mar Del Plata,-46.43,-67.52,52.52,44,0,13.80,0.0,0.0,AR,clear sky,2019-11-09 18:27:20

In [4]:
min_weather_df= weather_data_df.sort_values(['Max Temp'], ascending=True)
min_weather_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Snow,Rain,Country,Current Description,Date
279,279,Khandyga,62.65,135.58,-23.34,97,0,1.83,0.0,0.0,RU,clear sky,2019-11-09 18:28:29
502,502,Ust-Maya,60.42,134.54,-23.01,98,19,1.88,0.0,0.0,RU,few clouds,2019-11-09 18:28:24
533,533,Verkhoyansk,67.55,133.39,-22.73,98,25,0.63,0.0,0.0,RU,scattered clouds,2019-11-09 18:29:32
182,182,Mayo,63.59,-135.90,-20.21,75,20,3.36,0.0,0.0,CA,few clouds,2019-11-09 18:28:04
384,384,Talnakh,69.49,88.39,-13.01,75,100,13.42,0.0,0.0,RU,overcast clouds,2019-11-09 18:28:55

In [5]:
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))
Rain = str(input("Do you want it to be raining? (yes/no)"))
Snow= str(input("Do you wnat to be snowing? (yes/no) "))

What is the minimum temperature you would like for your trip? 40
What is the maximum temperature you would like for your trip? 90
Do you want it to be raining? (yes/no)no
Do you wnat to be snowing? (yes/no) no

In [6]:
C= weather_data_df.columns.tolist()
C

['City_ID',
 'City',
 'Lat',
 'Lng',
 'Max Temp',
 'Humidity',
 'Cloudiness',
 'Wind Speed',
 'Snow',
 'Rain',
 'Country',
 'Current Description',
 'Date']

In [7]:
for index, row in weather_data_df.iterrows():
    
    if Rain == "no" :
        rain_inches = weather_data_df["Rain"] == 0
    else:
        rain_inches = weather_data_df["Rain"] !=0
        
    if Snow == "no" :
        Snow_inches = weather_data_df["Snow"] == 0
    else:
        Snow_inches = weather_data_df["Snow"] !=0

In [8]:
preferred_cities_df = weather_data_df.loc[(weather_data_df["Rain"] != rain_inches) & 
                                          (weather_data_df["Snow"] != rain_inches)&
                                          (weather_data_df["Max Temp"] <= max_temp)&
                                          (weather_data_df["Max Temp"] >= min_temp)]
    
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Snow,Rain,Country,Current Description,Date
0,0,Henties Bay,-22.12,14.28,60.01,89,0,3.00,0.0,0.0,NaN,clear sky,2019-11-09 18:27:19
3,3,Ushuaia,-54.81,-68.31,44.60,52,40,9.17,0.0,0.0,AR,scattered clouds,2019-11-09 18:26:33
4,4,Mar Del Plata,-46.43,-67.52,52.52,44,0,13.80,0.0,0.0,AR,clear sky,2019-11-09 18:27:20
5,5,Kruisfontein,-34.00,24.73,59.31,78,100,16.51,0.0,0.0,ZA,overcast clouds,2019-11-09 18:23:53
11,11,Vaini,15.34,74.49,67.87,92,14,1.99,0.0,0.0,IN,few clouds,2019-11-09 18:27:22
12,12,Castro,-42.48,-73.76,66.20,52,82,6.93,0.0,0.0,CL,broken clouds,2019-11-09 18:27:22
15,15,Ulladulla,-35.36,150.48,59.00,44,67,17.22,0.0,0.0,AU,broken clouds,2019-11-09 18:23:40
16,16,Ewa Beach,21.32,-158.01,77.00,73,75,3.36,0.0,0.0,US,broken clouds,2019-11-09 18:27:11
17,17,Bluff,-23.58,149.07,60.48,24,0,8.10,0.0,0.0,AU,clear sky,2019-11-09 18:27:24
18,18,Maldonado,-34.91,-54.96,71.60,46,40,14.99,0.0,0.0,UY,scattered clouds,2019-11-09 18:23:26

In [9]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp" , "Current Description", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Henties Bay,NaN,60.01,clear sky,-22.12,14.28,
3,Ushuaia,AR,44.60,scattered clouds,-54.81,-68.31,
4,Mar Del Plata,AR,52.52,clear sky,-46.43,-67.52,
5,Kruisfontein,ZA,59.31,overcast clouds,-34.00,24.73,
11,Vaini,IN,67.87,few clouds,15.34,74.49,

In [10]:
# Iterate through the DataFrame.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to the params dictionary as values to the location key.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    #hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [32]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

In [33]:
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [34]:
import matplotlib.pyplot as plt
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig1 = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content= hotel_info)
fig1.add_layer(heat_layer)
fig1.add_layer(marker_layer)
# Call the figure to plot the data.
fig1

Figure(layout=FigureLayout(height='420px'))

In [31]:
#create an vacation map.png
plt.savefig("weather_data/WeatherPy_vacation_map.png", dpi=300, bbox_inches='tight')

In [19]:
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Henties Bay,NaN,60.01,clear sky,-22.12,14.28,Fishermans Guest House
3,Ushuaia,AR,44.60,scattered clouds,-54.81,-68.31,Albatros Hotel
4,Mar Del Plata,AR,52.52,clear sky,-46.43,-67.52,Hotel Costanera Del Sur
5,Kruisfontein,ZA,59.31,overcast clouds,-34.00,24.73,Oyster Bay House Rental
11,Vaini,IN,67.87,few clouds,15.34,74.49,Dandeli Lake County
12,Castro,CL,66.20,broken clouds,-42.48,-73.76,Hotel Esmeralda
15,Ulladulla,AU,59.00,broken clouds,-35.36,150.48,Sandpiper Motel
16,Ewa Beach,US,77.00,broken clouds,21.32,-158.01,Parkside By Gentry
17,Bluff,AU,60.48,clear sky,-23.58,149.07,Bluff Hotel
18,Maldonado,UY,71.60,scattered clouds,-34.91,-54.96,Joan Miro Hotel

In [20]:
#create an output file csv
output_df= "weather_data/WeatherPy_vacation.csv"
hotel_df.to_csv(output_df, index_label= "City ID")